 .navbar-fixed-top{
    background-color:#ffffff;
}
.img-responsive{
     margin-top: -15px;
}
#header {
  background: #fff;
  border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
  z-index: 99;
  &.--not-top {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
}
*{
  transition-duration: 0.2s;
}
.navbar-default{
  color:#c0392b;
}
#top-shadow {
position: fixed;
top: 0;
left: 20px;
width: 100%;
height: 60px;
z-index: 999;
-webkit-box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
-moz-box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
display: none;
}

.navbar.affix{ /* position fixed navbar */
top:0; 
width:100%;
}

/* UPDATE BELOW */
.navbar{    
z-index:1000; /* lift .navbar above #top-shadow */
}
.navbar-right{
    color: #ff0000;
    font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    font-weight:bold;
}
.navbar-bg{
    color: #e50000;
    font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    font-weight:bold;
    font-size:2.5em;
}
.navbar-bg a{
  text-decoration:none;
  cursor:pointer;
}
.navbar-bg a:hover{
  color:#ff0000;
}
.pull-right{
  padding-right: 8px;
  margin-right: 10px;
  margin-top:10px;
}
.row_1{
	color: #e50000;
  	font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  	font-size:25px;
  	text-align:center;
}
.bg1{
	margin-top:50px;
	 
	background-repeat:none;
	padding-top:70px;
	padding-bottom:120px;

}
.row_2{
    margin-top:30px;
	color: #000000;
  	font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  	 
  	font-size:20px;
  	text-align:center;
}
.row_11{
  padding-top: 10px;
  padding-bottom: 10px;
	font-family:  ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	 
	font-size:20px;
/*	background: #ffffff;*/
    background: black;
}
.row_13{
 	background:#000000;
 	 

 }
.row_13 i{
    color: white;
}
 .social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 .bg1{
 	margin-top:50px;
 	 
 }
 .bg18{
 	padding-top:20px;
  margin-top:90px;
 }
 .row_12{
	background-color: #000000;
	color:#ffffff;
	font-size:15px;
	 
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	text-align: center;
	padding-bottom:10px;
	margin-top:0px;
}
.col-md-2 a{
/*  color:#000000;*/
    color: white;
 font-size: 15px;

}
.col-md-2 a:hover{
  text-decoration:none;
  color:#ff0000;

}
.row_2 img{
    margin-bottom: 15px;
}
/*
.row_2 i{
    margin: 0px 20px;
}
*/
.row_2 .image1 img{
  width:20%;
}
.row_2 h2{
    font-family:cursive;
}
.row_2 .image2 img{
    width: 29%;
}
 
.row_2 .image3 img{
    width: 23%;
}
@media(max-width:380px){
  .row_2 h2{
    font-size:20px;
    font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    color:black;
  }
}
