.icon-bar{
  background-color:#d6d6d6;
}



.img-responsive{
  	 margin-top: -15px;
}
button.btn.btn-md.btn-primary.b6 {
    position: fixed;
    bottom: 6px;
    right: 20px;
    border: 1px solid #337ab7;
    border-radius: 77px;
}

img.img-responsive.img-circle.r2 {
    margin-top: 2px;
}
 button.btn.btn-md.btn-primary.chatb {
    position: fixed;
    bottom: 71px;
    right: 6px;
    z-index: 5;
     
 }
 @media(max-width:380px){
     button.btn.btn-md.btn-primary.chatb{
             margin-left: 266px;
             margin-top: 97px;
             margin-bottom: 5px;
     }
 }
@media(max-width:380px){
button.btn.btn-md.btn-primary.b6 {
   margin-left: 275px;
   bottom: 0px;
   top: 507px;
}
}
.class1{
  margin-left:80px;
}
.new_0{
    color: #ffffff;
}

#header {
  background: #fff;
  border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
  z-index: 99;
  &.--not-top {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
}
* {
  transition-duration: 0.3s;
}

/********************************/
/** Navbar **/
.navbar-fixed-top {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.19), 0 0 11px rgba(0,0,0,0.1);
}

.navbar {    
    z-index: 1000;  
    border-bottom: 1px solid #e1e1e1;
}

.navbar-bg {
   	color: #e50000;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
  	font-size: 2.2em;
    /*font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;*/
}

.navbar-brand {
    padding: 20px;
    padding-bottom: 40px;
    padding-left: 10px;
    margin-bottom: -1px;
    border-right: 1px solid #d5d5d5;
}

.navbar-bg:hover {
   	color: #e50000;
    background: #e1e1e1;
}

.navbar-brand img {
    float: left;
    margin-right: -5px;
}

#login-btn {
    text-decoration: none;
    background: #f1413e;
    margin-top: 0px;
    margin-bottom: -1px;
    padding: 20px 35px;
    color: #f1f1f1;
    margin-right: 0px;
}

#login-btn:hover {
    background: #cc0a06;
}

.navbar-default{
    color: #c0392b;
}

#top-shadow {
    position: fixed;
    top: 0;
    left: 20px;
    width: 100%;
    height: 60px;
    z-index: 999;
    -webkit-box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
    -moz-box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
    box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
    display: none;
}

.navbar.affix{  
    top: 0; 
    width: 100%;
}

.navbar-right{
  	color: #ff0000;
  	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  	font-weight:bold;
}

.pull-right{
	padding-right: 8px;
	margin-right: 10px;
	margin-top:10px;
}
.modal-header{
	background : #c0392b;
}
.navbar-right{
  	color: #ff0000;
  	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  	font-weight:bold;
}
/* bg1*/

 
.bg1{
	padding-top:70px;
	padding-bottom:80px;
    	height: 662px;

}
.container-fluid h1{
    font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    margin: 37px;
    line-height: 1.5;
    color: white;
    font-size: 45px;
}
.row_2 .col-sm-12{
    margin-top: 100px;
}
 
.row_1{
	padding-top:50px;
	color: #000000;
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	font-size:3em;
	font-weight:bold;
	text-align:center;
}
.row_2{
	
	color: #000000;
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	font-size:20px;
	 
	text-align:center;
}
.row_4{
	padding-top:5px;
	color: #ffffff;
	font-family:"Sans",Verdana,'snas-serif';
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
center.newn1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

#demo {
    position: absolute;
    top: 1000px;
    z-index: 200;
}

.row_3{
	padding-top:50px;
}

.row_3{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
}

.row_3 input:focus{
    background: rgba(241,241,241,0.95) !important ;
    color: #222 !important;  
    transition: 0.2s;
}

.row_3 input,
.row_3 button {
    border: none;
    outline: none;
    height: 42px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

.row_3 button {
    font-size: 16px;
    padding-top: 10px;
    background-color: rgba(241,65,62);
}

.col-md-2 a:hover{
	text-decoration:none;
	color:#ff0000;
}
.col-md-2 a{
	color:#000000;
	cursor:pointer;
}
.row_102 a:hover{
	text-decoration:none;
	color:#ff0000;
}
.row_102 a{
/*	color:#000000;*/
    color: white;
	cursor:pointer;
  text-decoration:none;
}
.row_103 a:hover{
	text-decoration:none;
	color:#ff0000;
}
.row_103 a{
/*	color:#000000;*/
    color: white;
	cursor:pointer;
}
.row_104 a:hover{
	text-decoration:none;
	color:#ff0000;
}
.row_104 a{
	color:#000000;
	cursor:pointer;
}

.bg2{
/*	background: url("https://s3-us-west-2.amazonaws.com/halanx-web/lightbackground.jpg");*/
	
	padding-left:-20px;
	padding: 60px 0px;
     background-size: 100% 100%;
}
.bg1 .shadow:before{
            content: "";
            background-color: rgba(0,0,0,0.4);
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            display: block;
    
        } 
 
 
/*
.bg2 .panel-body{
    position: relative;
}
*/
.bg1 {
    position: relative;
}
/*
 .bg2 .shadow:hover{
            display: inline-block;
            background-color: rgba(0,0,0,0.9);
           transition: 1s;
            
           
        }
*/
.row_6{
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	 
	font-size:2.5em;
 	background-color: #c0392b;
 	margin-top:2%;
}
.row_7{
	color: #ffffff;
	font-size:1.5em;
	 
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	background:url("https://s3-us-west-2.amazonaws.com/halanx-web/black-linen.png");
}
.row_8{
	font-family: 'Droid Sans', sans-serif;;
	 
	font-size:2.5em;
 	background-color: #c0392b;
 	margin-top:15%;
 	margin-left:2%;
 	margin-right:2%;
     

}
.row_9{
	color: #ffffff;
	font-size:1.5em;
	 
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	background:url("https://s3-us-west-2.amazonaws.com/halanx-web/black-linen.png");
	margin-left:2%;
	margin-right:2%;
}
.row_10{
	background: url("https://s3-us-west-2.amazonaws.com/halanx-web/black-linen.png");
	padding-top: 20px;
	margin-left:2%;
	margin-right:2%;
	padding-bottom:10px;

}
.bg3{
	 
	width:100%;
  
}
.col-md-2{
	color:#000000;
	 
	font-family:"Sans",Verdana,"sans-serif";
	font-size:1.5em;
/*	cursor:hand;*/
}
.col-md-2 a{
	color: white;
    font-size: 15px;
}

footer .row_12{
	background-color: #2a2a2a;
	color:#ffffff;
	font-size:15px;
	text-align: center;
	padding-top:10px;
}

.row_11{
	padding-top:10px;
	padding-bottom:10px;
/*	background:#ffffff;*/
       background-color: #333;
/*    border-bottom: 1px solid antiquewhite;*/
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

.col9 a{
	color: #ffffff;

}
.panel-heading{

  color: white;
	font-size:25px;
  font-weight:200;
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	background-color:#c0392b;
	text-align:center;
  text-decoration:none;
}
.bg1{
    background-image: url(home%20page%201.jpg);
    background-color:rgba(0,0,0,0.7);
    background-size: 100% 100%;
/*    background-position: center;*/
    top: 30px;
      
    

}
 .bg1 {
            animation-name: move;
            animation-duration: 20s;
            animation-iteration-count: infinite;
    
            background-repeat: no-repeat;
       }

           @keyframes move{
               0%{
         
                 background-image: url(home%20page%201.jpg);
                  background-color:rgba(0,0,0,0.7);
/*                   background-size: cover;*/
                      
                      
               }
               40%{
                   
                background-image: url(home%20page2.jpg);
                    background-color:rgba(0,0,0,0.7);
/*                    background-size: cover;*/
                     
               }

            
               
            70%{
                    background-image: url(home%20page%203.jpg);
                background-color:rgba(0,0,0,0.6);
/*                 background-size: cover;*/
                        
               }
           100%{
                    background-image: url(home%20page%201.jpg);
                        background-color:rgba(0,0,0,0.7);
/*                background-size: cover;*/
               }
           

           }
/*
.panel{
    background-color: transparent;
}
*/
/*media*/
@media(max-width:1200px){
    .bg1 .row_2 .col-sm-12{
        margin-top: 45px;
    }
}
@media(max-width:767px){
    
    .bg1 .row_2 .col-sm-12{
        margin-top: -30px;
    }
    
    .login_ctrl{
        position: absolute;
        top: -8px;
        right: 15px;
    }
    
    nav{
        position: relative;
    }
    
    
}
@media(max-width:540px){
    .bg1 .row_3{
       padding-top: 10px;
    }
}
@media(max-width:510px){
    .bg1 h1{
       line-height: 1.3
    }
}
@media(max-width:450px){
    .bg1 h1{
      font-size: 39px;
    }
}

@media(max-width:380px){
    .bg1 h1{
      font-size: 25px;
    }
}
@media(max-width:380px){
     .panel-heading{
      font-size: 20px;
      color:#ffffff;
      text-decoration:none;

    }
}
@media(max-width:380px){
     .row_100{
      font-size: 15px;
      color:#ffffff;
      text-decoration:none;

    }
}


 
@media(max-width:380px){
    .bg1 {
      max-height: 400px;

    }
}
@media(max-width:380px){
    .row_2{
      margin-top:1px;
      
    }
}





.panel-body{
	background-color:rgba(0,0,0,0.8);
}


.row_100{
/*	color:#000000;*/
    color: white;
	font-size:1.5em;
	 
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	 
	 
	
}
.row_102{
/*	color:#000000;*/
    color: white;
	font-size:1.5em;
	 
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	margin-bottom:15px;
	 
}
.row_103{
	color:#000000;
	font-size:1.5em;
	 
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	 
	 
	
}
.row_104{
	margin-top:30px;
}
.col1 a{
	color: #ffffff;

}
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 .row_13{
 	background:#333333;
 }
.row_13 i{
    color: white;
}
 .modal-header
 {
 	background: #c0392b;
 }
 
/*bg2*/
.bg2 .col-md-4 .user{
width: 15%;
    
    
}
.bg2 .upper1{
    margin-top: 29px;
}
.bg2 .upper1 img {
    width: 17%;
}
.bg2 .upper2{
    margin-top:17px;
}
.bg2 .upper2 .user{
    width: 19%
}
.bg2 .image{
    text-align: center;
}
.bg2 .upper1 img{
    margin-bottom: 11px;
}
.bg2 .upper3 img{
    margin-bottom: 11px;
        border: 1px solid white;
}
.bg2 .upper3 .panel-body{
    padding-bottom: 5px;
}
img.img-responsive.img-circle.r2 {
    margin-top: 0px;
}

/**/

/*-------- don't use this csss remove this ----------------------*/
.margin { margin-top:50px; }
/*-------- don't use this csss remove this ----------------------*/


/*
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}
*/



svg {
  display: block;
  overflow: visible;
}

.slider-container {
  position: relative;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
  right: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}

.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide__bg {
  left: 0;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-3.jpg");
}
.slide:nth-child(1) .slide__overlay-path {
  fill: #e99c7e;
}
@media (max-width: 991px) {
  .slide:nth-child(1) .slide__text {
    background-color: rgba(233, 156, 126, 0.8);
  }
}
.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {
  left: -50%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-2.jpg");
}
.slide:nth-child(2) .slide__overlay-path {
  fill: #e1ccae;
}
@media (max-width: 991px) {
  .slide:nth-child(2) .slide__text {
    background-color: rgba(225, 204, 174, 0.8);
  }
}
.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  left: -100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-1.jpg");
}
.slide:nth-child(3) .slide__overlay-path {
  fill: #adc5cd;
}
@media (max-width: 991px) {
  .slide:nth-child(3) .slide__text {
    background-color: rgba(173, 197, 205, 0.8);
  }
}
.slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide__bg {
  left: -150%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-4.jpg");
}
.slide:nth-child(4) .slide__overlay-path {
  fill: #cbc6c3;
}
@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    background-color: rgba(203, 198, 195, 0.8);
  }
}
.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  -webkit-transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  will-change: transform, opacity;
  -webkit-transform: translate3d(-20%, 0, 0);
          transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}
.slide__overlay path {
  opacity: 0.8;
}
.slide__text {
  position: absolute;
  width: 25%;
  bottom: 15%;
  left: 12%;
  color: #fff;
  -webkit-transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  will-change: transform, opacity;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}




a.slide__text-link:hover { text-decoration:none; color:#FFF;}





@media (max-width: 991px) {
  .slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20rem;
    text-align: center;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    padding: 0 1rem;
  }
}
.slide__text-heading {
  font-family: "Polar", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .slide__text-heading {
    line-height: 20rem;
    font-size: 3.5rem;
  }
}
.slide__text-desc {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .slide__text-desc {
    display: none;
  }
}
.slide__text-link {
  z-index: 5;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2.3rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
@media (max-width: 991px) {
  .slide__text-link {
    display: none;
  }
}
.slide__text-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-85deg);
          transform: rotateX(-85deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform;
}
.slide__text-link:hover:before {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}


/*****************************************/
/** Cards **/
.card {
    width: 85%;
    margin: auto;
    margin-top: 90px;
    padding-top: 20px;
    box-shadow: 0 0 6px -1px rgba(0,0,0,0.5);
    background: #333;
}

.card:hover {
    box-shadow: 0 0 15px -1px rgba(0,0,0,0.4);
}

.col-sm-4:nth-child(2) .card .card-content {
    padding-bottom: 28px;
}

.col-sm-4:nth-child(2) .card h3 {
    margin-bottom: 28px;
}

.card img {
    display: block;
    width: 220px;
    margin: 20px auto;
    margin-top: 0;
}

#app-dwn {
    width: 160px;
}

.card-content {
    background: #fff;
    padding-bottom: 10px;
/*    background: #333;*/
    border-bottom: 3px solid rgba(255,0,0,0.85);
}

.card h3 {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-weight: 600;
    margin: 0;
    margin-bottom: 15px;
    background: rgba(255,0,0,0.85);
    padding: 10px;
    color: #f1f1f1;
}

.card a {
    text-decoration: none;
}

.card h4 {
    color: #333;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 7px;
    line-height: 25px;
}

.card h4 img {
    width: 170px;
    margin-bottom: -10px;
}

/******************************************/
/**Footer**/
footer {
    margin-top: 30px;
}

footer .row_11 {
    padding-top:10px;
	padding-bottom:10px;
    padding: 14px 0;
    background-color: #333;
    padding-bottom: 10px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3) inset;
}

footer .row_11 a {
    color: #999;
}

footer .row_11 a:hover {
    color: #f1f1f1;
}

footer .row_11 a:focus {
    text-decoration: none;
}


footer .row_13 {
    padding: 10px;
}

footer .row_13 a {
    text-decoration: none;
    color: #fff;
}

footer .row_12 {
    padding: 12px;
    background: #222;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

footer .row_12 p {
    margin: 0;
}


/*slider css*/


html, body {
/*  font-size: 62.5%;*/
  height: 100%;
  overflow-x: hidden;
}



svg {
  display: block;
  overflow: visible;
}

.slider-container {
  position: relative;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
  right: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}

.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide__bg {
  left: 0;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-3.jpg");
}
.slide:nth-child(1) .slide__overlay-path {
  fill: #e99c7e;
}
@media (max-width: 991px) {
  .slide:nth-child(1) .slide__text {
    background-color: rgba(233, 156, 126, 0.8);
  }
}
.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {
  left: -50%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-2.jpg");
}
.slide:nth-child(2) .slide__overlay-path {
  fill: #e1ccae;
}
@media (max-width: 991px) {
  .slide:nth-child(2) .slide__text {
    background-color: rgba(225, 204, 174, 0.8);
  }
}
.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  left: -100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-1.jpg");
}
.slide:nth-child(3) .slide__overlay-path {
  fill: #adc5cd;
}
@media (max-width: 991px) {
  .slide:nth-child(3) .slide__text {
    background-color: rgba(173, 197, 205, 0.8);
  }
}
.slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide__bg {
  left: -150%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-4.jpg");
}
.slide:nth-child(4) .slide__overlay-path {
  fill: #cbc6c3;
}
@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    background-color: rgba(203, 198, 195, 0.8);
  }
}
.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  -webkit-transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  will-change: transform, opacity;
  -webkit-transform: translate3d(-20%, 0, 0);
          transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}
.slide__overlay path {
  opacity: 0.8;
}
.slide__text {
  position: absolute;
  width: 25%;
  bottom: 15%;
  left: 12%;
  color: #fff;
  -webkit-transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  will-change: transform, opacity;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}




a.slide__text-link:hover { text-decoration:none; color:#FFF;}





@media (max-width: 991px) {
  .slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20rem;
    text-align: center;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    padding: 0 1rem;
  }
}
.slide__text-heading {
  font-family: "Polar", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .slide__text-heading {
    line-height: 20rem;
    font-size: 3.5rem;
  }
}
.slide__text-desc {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .slide__text-desc {
    display: none;
  }
}
.slide__text-link {
  z-index: 5;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2.3rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
@media (max-width: 991px) {
  .slide__text-link {
    display: none;
  }
}
.slide__text-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-85deg);
          transform: rotateX(-85deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform;
}
.slide__text-link:hover:before {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}


footer .row_12 {
    background: #2a2a2a;
}

center#cur-loc {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    font-size: 16px;
    height: 20px;
    z-index: 2;
}