<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" >
    <title>Halanx</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="orders.css">
	<script src="angular.min.js"></script>

<script src="module.js"></script>

<script src="factory.js"></script>
<script src="controller.js"></script>
	 
</head>
<body ng-app="myapp" ng-controller="myctrl">
  <div id="container">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- add header -->
            <div class="navbar-header">
                <a class="navbar-brand navbar-bg" href="../../../index.html">
                    <img src="https://s3-us-west-2.amazonaws.com/halanx-web/logo.png" class="img-responsive" width="50" height="50"><span id="brand-name">Halanx</span>
                </a>
            </div>
            <!-- menu items -->
            <!--<div  id="navbar1" style="margin-top:0px">-->
                <ul class="nav login_ctrl navbar-nav navbar-right">
                    <a href="../../../halanx-final/new1big-kfc/frontpage/login.html" class="btn-md pull-right" id="login-btn">LOGOUT</a>
                </ul>
            <!--</div>-->
        </div>
    </nav>
<div id="content">
<div class="container-fluid bg1">
   <div class="col-md-6 col-md-offset-2 col-sm-6">
   <div class="panel-heading" ng-click=myorder("ongoing")> 
     Ongoing Orders</div>
     </div>    
     
    <div class="panel-heading" ng-click=myorder("delivered")>Delivered Orders
    </div>
    <div>

        <div class="panel-body">  
         <div class="row">
              
                 <div class="orderlist">
                     <ul>
                         <li ng-repeat="i in orders">
                             <div class="myorder">
                                 <span class="test45">order id:{{i.id}}</span>
                             </div>
                             <div class="productlist">
                                 <ul>
                                     <li ng-repeat = "list in i.order_items">
                                         {{list.Item.ProductName}}
                                     </li>
                                 </ul>
                             </div>
                             <span class="new34">total amount:{{i.Total}}</span>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
 </div>

 </div>
 </div>
 
 <!--Footer Starts Here-->
    <footer class="container-fluid bg3">
        <div class="row row_11">
            <div class="col-md-3"></div>
            <div class="col-md-1   text-center"><a href="../../../aboutus.html">About Us</a></div>
            <div class="col-md-1  text-center"><a href="#">Careers</a></div>
            <div class="col-md-1  text-center"><a href="#">Blog</a></div>
            <div class="col-md-1  text-center"><a href="../../../contactus.html">Contact Us</a></div>
            <div class="col-md-1  text-center"><a href="../../../privacy.html">Privacy</a></div>
            <div class="col-md-1  text-center"><a href="../../../terms.html">Terms</a></div>
            <div class="col-md-3"></div>
        </div>

        <div class="row row_13">
            <div class="text-center center-block">
                <a href="https://www.facebook.com/halanxtech"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i> .</a>
                <a href="https://www.twitter.com/halanxtech"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i> .</a>
                <a href="https://www.instagram.com/halanxtech"><i id="social-gp" class="fa fa-instagram fa-2x social"></i> .</a>
                <a href="https://in.linkedin.com/company/halanx"><i id="social-tw" class="fa fa-linkedin-square fa-2x social"></i></a>
            </div>
        </div>
        
        
        <div class="row row_12">
            <p>&copy; Halanx 2017</p>
        </div>
    </footer>
<!--Footer Ends-->
 

</body>
<script>
$(function(){
var navbar = $('.navbar');
$(window).scroll(function(){
    if($(window).scrollTop() <= 40){
      navbar.css('box-shadow', 'none');
    } else {
      navbar.css('box-shadow', '0px 10px 20px rgba(0, 0, 0, 0.4)'); 
    }
});  
})
$(function(){


var stickyElement   = '.panel-affix',    
bottomElement   = '#fake-footer';  

if($( stickyElement ).length){
$( stickyElement ).each(function(){

   
  var fromTop = $( this ).offset().top, 
    
    fromBottom = $( document ).height()-($( this ).offset().top + $( this ).outerHeight()),
    
    stopOn = $( document ).height()-( $( bottomElement ).offset().top)+($( this ).outerHeight() - $( this ).height()); 

   
  if( (fromBottom-stopOn) > 200 ){
     
    $( this ).css('width', $( this ).width()).css('top', 0).css('position', '');
     
    $( this ).affix({
      offset: { 
        
        top: fromTop - 80,  
         
        bottom: stopOn
      }
    
    }).on('affix.bs.affix', function(){ $( this ).css('top', '80px').css('position', ''); });
  }
  
  $( window ).trigger('scroll'); 
}); 
}

});


$('body').scrollspy({
offset: 80
});


$(function() {
$('a[href*=#]:not([href=#])').click(function() {
if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
var target = $(this.hash);
target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
if (target.length) {
$('html,body').animate({
  scrollTop: target.offset().top
}, 1000);
return false;
}
}
});
});
</script>

</html>
