.navbar-fixed-top{
    background-color:#ffffff;
}
.img-responsive{
     margin-top: -15px;
}
#header {
  background: #fff;
  border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
  z-index: 99;
  &.--not-top {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
}
*{
  transition-duration: 0.2s;
}
.navbar-default{
  color:#c0392b;
}
#top-shadow {
position: fixed;
top: 0;
left: 20px;
width: 100%;
height: 60px;
z-index: 999;
-webkit-box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
-moz-box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
display: none;
}

.navbar.affix{ /* position fixed navbar */
top:0; 
width:100%;
}

/* UPDATE BELOW */
.navbar{    
z-index:1000; /* lift .navbar above #top-shadow */
}
.navbar-right{
    color: #ff0000;
    font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    font-weight:bold;
}
.navbar-bg{
    color: #e50000;
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    font-weight:bold;
    font-size:2.5em;
}
.navbar-bg a{
  text-decoration:none;
  cursor:pointer;
}
.navbar-bg a:hover{
  color:#ff0000;
}
.pull-right{
  padding-right: 15px;
  margin-right:20px;
  
  margin-top:10px;
}
.bg1{
	margin-top:100px;
}
.panel-heading{
	font-size: 10px;
	font-family:"Sans",Verdana,"sans-serif";
	color:#000000;
	font-weight:bold;
	background:#e50000;
	border:1px solid #c6c6c6;
	border-radius:30px;
}
.orderid{
	font-size:20px;
	font-family:"Sans",Verdana,"sans-serif";
	font-weight:bold;
	color:#000000;
	list-style:none;
	text-decoration:none;
	text-transform:uppercase;
	 
	 
}
li.orders.ng-scope {
    list-style: none;
    margin-left:-40px;
}
li.orders2.ng-binding.ng-scope {
    margin-left: -20px;
    font-size: 15px;
}
.orders2 li{
	list-style:none;
	text-decoration:none;
	color:#000000;
	font-family:"Sans",Verdana,"sans-serif";
	font-size:15px;
}
.amount{
margin-left: 1px;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 8px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.panel-body{
	background:#f7f7f7;
}
.orderid.ng-binding {
    margin-top: 10px;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    margin-left: 0px;
}
@media(max-width:380px){
	.panel-heading{
	font-size: 10px;
	font-family:"Sans",Verdana,"sans-serif";
	color:#000000;
	font-weight:bold;
	 
	 
}
}