body{
  background:#ffffff;
}
.navbar-fixed-top {
    background-color: #ffffff;
}

#header {
    background: #ffffff;
    border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
    z-index: 99;
    &.--not-top {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    }
}

* {
    transition-duration: 0.2s;
}

#top-shadow {
    position: fixed;
    top: 0;
    left: 20px;
    width: 100%;
    height: 60px;
    z-index: 999;
    -webkit-box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
    -moz-box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
    box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
    display: none;
}

.navbar.affix {
    top: 0;
    width: 100%;
}

.navbar {
    z-index: 1000;
}
a.navbar-brand.navbar1 {
    font-size: 2.5em;
    color: #e50000;
    font-weight: bold;
    margin-top: 5px;
}
.img-responsive{
    margin-top:-10px;
}

 

.userlist {
    transform: translateX(200px;
    );
    transition: 1s;
    background-color: #f6f6f6;
    text-transform: capitalize;
    position: absolute;
    width: 80%;
    z-index: 5;
}

#content {
    margin-top: 70px;
}

 
 

@media(max-width:380px) {
    #content .nav-button span {
        margin-left: -60px;
        color: #d7d7d7;
    }
}
 
 

#content .userlist{
    background-color: #f6f6f6;
    width: 80%;
    text-transform: capitalize;
    font-family:"Sans",Verdana,"sans-serif";
    font-size:20px;
}
ul{
    padding: 0px;
    margin: 0px;
}
ul li{
    list-style: none;
    
}
#content .userlist li:hover{
    background-color: white;
}
#content .userlist li:first-child{
    background-color: #f6f6f6;
}
#content .userlist li{
    padding: 10px 0px;
}
#content .userlist ul li a{
    color:#000000;
    padding: 0px 0px;
    /* width: 112%; */
    display: block;
    width: 100%;
   
/*padding : 0px 28%;*/
    padding-left: 28%;
    font-size: 18px;
    text-decoration: none;
}
#content .move{
    transform: translateX(-500px);
    transition: 1s;
    
}
#content .userlist{
    transform: translateX(200px;);
        transition: 1s;
    position: absolute;
    width: 80%;
    z-index: 5;
}
#content .delivery-option {
    margin-top: 10px;
    margin-left: 188px;
}
#content .delivery-option li{
    display: inline-block;
    padding-left: 69px;
    text-transform: capitalize;
    font-size:16px;
    font-family:"Sans",Verdana,"sans-serif";
    color:#000000;
    font-weight:bold;
}
#content .delivery-option li a{
    text-decoration: none;
    font-size:16px;
    font-family:"Sans",Verdana,"sans-serif";
    color:#000000;

}
#content .storelist li{
    display: block;
    padding: 0px;
    border-bottom: 1px solid white;
  
    
}
#content .storelist li a{
    color: #000000;
     padding: 5px;
    display: block;
    font-size: 15px;
}
#content .storelist li:hover{
    background-color: white;
}
#content .storelist{
    display: none;
    position: absolute;
    width: 39%;
    background-color: #f6f6f6;
      
}
@media(max-width:380px){
    .storelist{
        margin-left:-110px;
    }
}
 
#content .delivery-option li:nth-child(2){
    position: relative;
}
#content .delivery-option .show{
    display: block;
    top: 37px;
    z-index: 5;
    left: 214px;
    
}
@media(max-width:992px){
    #content .delivery-option li{
        padding-left: 20px;
    }
}
@media(max-width:767px){
    #content .delivery-option li{
        padding: 10px;
    }
    #content .delivery-option{
        margin-left: -80px;
        margin-top: 0px;
    }
   
}
@media(max-width:576px){
    #content .delivery-option{
        margin-left: -10px;
    }
}
@media(max-width:380px){
    #content .delivery-option{
        margin-left: -10px;
    }
      #content .delivery-option li{
        padding: 7px;
    }
    
}
@media(max-width:380px){
    #content .delivery-option{
        margin-left: 91px;
        margin-top:-40px;
    }
}

 
.datalogo{
   
       width: 23%;
       margin-left: 39%;
       margin-top: -8px;
   
}
@media(max-width:380px){
  #content .datalogo{
    width:200px;
    margin-left:81px;
  }
}

/*
#content .bigbazar{
    background-color: #f7f7f7;
}
*/
#content .datalogo img{
    width: 67%;
     margin-left:52px;
}
@media(max-width:380px){
  #content .datalogo img{
        margin-left: 18px;
        margin-top: 26px;
  }
}
#content .datasection li .productimage{
/*    width: 70%;*/
    width: 150px;
    margin-left: 20px;;
    
    
}
#content .unit{
    font-size: 17px;
    color: lightgrey;
}
#content .datasection span{
    text-transform: uppercase;
    font-family:"Sans",Verdana,"sans-serif";
    font-size:20px;
    color:#000000;
    margin-top:2px;
}
@media(max-width:380px){
  #content .datasection span{
    font-size:15px;
    color:#000000;
    text-decoration:none;
    margin-left:3px;
  }
}
#content .datasection{
    text-align: center;
        
    
}
#content .datasection .addbutton button{
        background-color: #fb641b;
    border: none;
    border-radius: 6px;
    padding: 8px 20px;
    margin-left: 20px;
    
    text-transform: uppercase;
}
#content .productmain{
    margin: 50px 0px;
}
.productmain ul{

    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-left:23px;
}

.datasection li {
 width: 204px;
 border: 2px solid #d3d3d3;
 height: 220px;
 padding: 25px;
 background-color: #f7f7f7;
 margin: 5px;
 border-radius: 10px;
    
    
}
@media(max-width:380px){
  #content .datasection li{
    width:200px;
    height:210px;
    margin-left:29px;
  }
}
#content .counter-cart span{
        border-bottom: 1px solid black;
    padding: 0px 65px;
}
#content .datasection li:hover{
    border: 1px solid #ccc;
}
#content .datasection li:hover img{
    
/*    transform: scale(1.1);*/
    transform: translateY(-10px);
    transition: 1s;
}
#content .datasection li img:hover{
   transform: scale(1.1); 
    transition: 2s;
}
#content .datasection li .productimage img{
   width: 93%;
   transition: 1s;
   height: 90px;
   margin-left: -39px;
    
}
button.btn.btn-sm.btn-danger.btn-circle {
    border-radius: 40px;
}
#content .datasection .productdescription span{
    font-size: 16px;
/*    margin-left: -80px;*/
    color: #666;
    font-weight: 500;
    text-transform: capitalize;
}
#content .datasection .productcat ul{
  display:flex;
  flex-wrap:wrap;
  margin-left: 8px;
  margin-top: 23px;
}
#content .datasection .productcat li{
   height: 61px;
   border-radius: 89px;
   padding: 12px;
   width: 121px;
}
#content .datalist .productcat .colorred{
background-color: #e50000;
border: 2px solid #d3d3d3;
cursor:pointer;
color:#ffffff;
}
.productcat ul li:hover{
cursor:pointer;
border:2px solid #000000;

}
@media(max-width:380px){
#content .datasection .productdescription span{
font-size:15px;
color:#000000;
margin-left:20px;
}
}
@media(max-width:380px){
.bg3{
margin-left:-90px;
background:#000000;
}
}

@media(max-width:1224px){
#content .productmain ul li{
width: 220px;
}
}
.modal-title{
  font-family:"Sans",Verdana,"sans-serif";
  font-size:22px;
  color:#000000;
  margin-bottom:-30px;
}
.modal-content .nextimage{
    text-align: center;
}

#content  .modal-content .nextimage img{
    width: 65%;
}
#content .red{
   background-color:red;
}
#content  .modal-content span{
    font-size: 22px;
}
#content  .modal-content .unit{
    font-size: 17px;
    color: #000000;
}
.btn-circle{
  border-radius:30px;
}
.close{
  margin-top:-20px;
}
.bg1{
  margin-left:40px;
}
.row_11{
    padding-top: 10px;
    padding-bottom: 10px;
  font-family: "Sans",Verdana,'sans-serif';
   
  font-size:15px;
/*  background: #ffffff;*/
    background: black;
}
.row_13{
  background:#000000;
   

 }
.row_13 i{
    color: white;
}
 .social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 .bg1{
  margin-top:50px;
   
 }
 .bg18{
  padding-top:20px;
  margin-top:90px;
 }
 .row_12{
  background-color: #000000;
  color:#ffffff;
  font-size:15px;
  
  font-family:"Sans",Verdana,"sans-serif";
  text-align: center;
  padding-bottom:10px;
  margin-top:0px;
}
.col-md-2 a{
/*  color:#000000;*/
    color: white;
 font-size: 15px;

}
.col-md-2 a:hover{
  text-decoration:none;
  color:#ff0000;

}
.pull-right{
  padding-right: 8px;
  margin-right: 20px;
  margin-top:10px;

}
.bg22{
  margin-left:60px;
}
.icon-bar{
  background:#d6d6d6;
}
.b78{
  margin-left:254px;
}
@media(max-width:380px){
  .cart-icon{
    margin-left:101px;
  }
}
@media(max-width:380px){
  .b78{
        margin-top: -79px;
        margin-left: 141px;
  }
}
@media(max-width:380px){
  .form-control{
    margin-left:1px;
     
  }
}
.form-control{
  border:2px solid #d3d3d3;
  border-radius:4px;
  margin-top:5px;
  text-align:center;
  font-family:"Sans",Verdana,"sans-serif";
}
.searchbox ul li{
  color:#000000;
  font-family:"Droid-Sans",serif;
  text-decoration:none;
  font-size:20px;
  background:#f7f7f7;
  border:1px solid #d3d3d3;
  text-align:center;
}
.searchbox ul li a{
  color:#000000;
  font-family:"Droid-Sans",serif;
  text-decoration:none;
  text-align:center;
}
.searchbox ul li a:hover{
  text-decoration:none;
  text-align:center;
}
@media(max-width:380px){
  .storename{
    margin-left:20px;
  }
}
 #content .datalist .productcat .colorred{
        background-color: #e50000;
        border: 2px solid #d3d3d3;
         
        cursor:pointer;
        color:#ffffff;
    }
    .productcat ul li{
      background:#f6f6f6;
    }
     
    .productcat ul{
       
      display:flex;
      flex-wrap:no-wrap;
       
       
    }
    .productcat ul li:hover{
      cursor:pointer;
      border:2px solid #000000;
       
    }