body {
    padding-top: 60px;
}

* {
    transition: all 0.3s;
}

/** Navbar **/
.navbar-fixed-top {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.19), 0 0 11px rgba(0,0,0,0.1);
}

.navbar {    
    z-index: 1000;  
    border-bottom: 1px solid #e1e1e1;
}

.navbar-bg {
   	color: #e50000;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
  	font-size: 2.2em;
    /*font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;*/
}

.navbar-brand {
    padding: 20px;
    padding-bottom: 40px;
    padding-left: 10px;
    margin-bottom: -1px;
    border-right: 1px solid #d5d5d5;
}

.navbar-bg:hover {
   	color: #e50000;
    background: #e1e1e1;
}

.navbar-brand img {
    float: left;
    margin-right: -5px;
}

#login-btn {
    text-decoration: none;
    background: #f1413e;
    margin-top: 0px;
    margin-bottom: -1px;
    padding: 20px 35px;
    color: #f1f1f1;
    margin-right: 0px;
}

#login-btn:hover {
    background: #cc0a06;
}
.navbar-fixed-top{
    background-color:#ffffff;
}
.img-responsive{
     margin-top: -15px;
}


#header {
background: #ffffff;
border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
z-index: 99;
&.--not-top {
box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
}
* {
transition-duration: 0.2s;
}

#top-shadow {
position: fixed;
top: 0;
left: 20px;
width: 100%;
height: 60px;
z-index: 999;
-webkit-box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
-moz-box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
display: none;
}

.navbar.affix{  
top:0; 
width:100%;
}


.navbar{    
z-index:1000;  
}

@media(max-width:767px){
    
    .bg1 .row_2 .col-sm-12{
        margin-top: -30px;
    }
    
    .login_ctrl{
        position: absolute;
        top: -8px;
        right: 15px;
    }
    
    nav{
        position: relative;
    }
}

.nav-button .sidebutton {
    position: fixed;
    top: 60px;
    left: 0px;
    font-size: 25px;
    background: #fff;
    padding: 5px 15px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
    z-index: 11111119;
}

#content .userlist {
/*    transform: translateX(200px);*/
    transition: 1s;
    background-color: #fff;
    text-transform: capitalize;
    width: 20%;
    z-index: 11118;
    position: fixed;
    top: 60px;
    height: 700px ;
    left: 0;
    margin: auto;
    border-right: 1px solid black !important; 
/*    display: none;*/
}

.userlist ul {
    background: #fff;
    
/*    box-shadow: 0 0 5px rgba(0,0,0,0.19), 0 0 11px rgba(0,0,0,0.1);*/
}

#content .userlist li{
    padding: 12px 0px;
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
}

#content .userlist li:hover {
    background: #f1f1f1;
}

#content .userlist ul li a{
    color:#000000;
    /* width: 112%; */
    display: block;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    width: 100%;
   
/*padding : 0px 28%;*/
    font-size: 16px;
    text-decoration: none;
}



ul{
    padding: 0px;
margin: 0px;
}


.move{
transform: translateX(-500px);
transition: 1s;

}


.delivery-option {
margin-top: 10px;
margin-left:85px;
}
.delivery-option li{
display: inline-block;
padding-left: 28px;
text-transform: capitalize;
font-size:20px;
color:#000000;
font-family:"Sans",Verdana,"sans-serif";
text-decoration:none;
cursor:pointer;
margin-left:15px;
}


.delivery-option li a{
text-decoration: none;
font-size:20px;
color:#000000;
cursor:pointer;
font-family:"Sans",Verdana,"sans-serif";
}
.storelist li{
display: block;
padding: 0px;
border-bottom: 1px solid #000000;
}
.storelist li a{
color: #000000;
 padding: 5px;
display: block;
font-size: 15px;
}
.storelist li:hover{
background-color: red;
}
.delivery-option li:nth-child(2){
position: relative;
}
.storelist{
display: none;
position: absolute;
width: 54%;
background-color: #f6f6f6;
margin-left:89px;
margin-top:10px;
}
.delivery-option .show{
display: block;
top: 37px;
z-index: 5;
left: 20px;

}
/*content media*/

  #content .delivery-option li{
    padding: 5px;
}

.cart-icon {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 200px;
    right: 10px;   
}

@media(max-width: 767px) {
    .cart-icon {
        top: 70px;   
    }
}

.cart-icon button {
    background: #fff;
    border-radius: 2px;
}

.cart-icon i {
    font-size: 20px;
    color: #333;
}

.cart-icon span {
    color: #333;
    margin-left: 5px;
}
 

.unit{
font-size: 17px;
color: lightgrey;
}
.storename{
text-transform: uppercase;
font-family:"Sans",Verdana,"sans-serif";
text-decoration:none;
font-size: 20px;
margin-top:30px;
}
.datasection{
text-align: center;
}



.datasection .addbutton button{
    background-color: #fb641b;
border: none;
border-radius: 6px;
padding: 8px 20px;
margin-left: 20px;

text-transform: uppercase;
}
.productmain{
    margin-top: -70px;
    margin-left: -50px;
}

.productmain ul {
    display: flex;
    flex-wrap: wrap;
}

.productmain li {
/*display: inline-block;*/
    width: 277px;
/*    margin: 20px;*/
/*border: 1px solid #e1e1e1;*/
height: 171px;
padding: 15px;
background-color:#fff;
margin: 12px;
border-radius: 2px;
position:relative;
margin-top:15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
} 

.productcat li {
    width: 118px;
    /* margin: 20px; */
    border: 1px solid #eee;
    height: 48px;
    padding: 5px;
    background-color: white;
    margin: 4px;
    border-radius: 53px;
    text-align: center;
    margin-top: 7px;
}
 

 
.counter-cart span{
    border-bottom: 1px solid black;
padding: 0px 50px;
}

.datasection li:hover img{

/*    transform: scale(1.1);*/
transform: translateY(-10px);
transition: 1s;
}
.datasection li img:hover{
transform: scale(1.1); 
transition: 2s;
}
.datasection li .productimage img{
width: 100%;
transition: 1s;
}
.datasection .productdescription .productname{
text-transform:capitalize;
font-family:"Roboto", sans-serif;
font-size:14px;
color:#111;
    letter-spacing: -0.5px;
    text-align: left;
text-decoration:none;
position: absolute;
left: 15px;
top: 10px;
    padding-right: 60px;
}

.datasection .productdescription .productprice{
    position: absolute;
    right: 22px;
    top: 10px;
}

.fav-icon {
    font-size: 22px;
    position: absolute;
    top: 87px;
    right: 20px;
    color: #ee3322;
}

.datasection .productdescription img{
    width: 10%;
    margin-left: 200px;
    margin-top: 50px;
}

.datasection .productdescription .counter-cart{
    margin-top: -22px;
    margin-right: 75px;
}
 .btn-sm {
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1.5;
     border-radius: 3px;
}


/*modal*/
.modal-content .nextimage{
text-align: center;
}

.modal-content .nextimage img{
width: 65%;
}
.red{
background-color:red;
}
.modal-content span{
font-size: 22px;
}
.modal-content .unit{
font-size: 17px;
color: lightgrey;
}
.b1{

/*position: relative;*/
margin-bottom:0px;
/*margin-top:10px;*/
position: absolute;
width: 100%;
right: 0px;
border-radius: 0px;
bottom: 0px;
    padding: 7px 10px;
}

.datasection{
margin-top:10px;
}
.btn-sm{
border-radius:40px;

}

.social:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}
.social {
 -webkit-transform: scale(0.8);
 -moz-transform: scale(0.8);
 -o-transform: scale(0.8);
 -webkit-transition-duration: 0.5s;
 -moz-transition-duration: 0.5s;
 -o-transition-duration: 0.5s;
}

#social-fb:hover {
 color: #3B5998;
}
#social-tw:hover {
 color: #4099FF;
}
#social-gp:hover {
 color: #d34836;
}
#social-em:hover {
 color: #f39c12;
}
.bg1{
margin-top:50px;

}
.bg18{
padding-top:20px;
margin-top:90px;
}
.row_12{
background-color: #000000;
color:#ffffff;
font-size:1.5em;
 
font-family:"Sans",Verdana,"sans-serif";
text-align: center;
padding-bottom:10px;
margin-top:0px;
}
.col-md-2 a{
/*  color:#000000;*/
color: white;
font-size: 15px;

}
.col-md-2 a:hover{
text-decoration:none;
color:#ff0000;

}

.bg22{
margin-left:60px;
}

.fa-shopping-cart{
color:#ffffff;
}
.testt{
color:#ffffff;
width:5px;
}

.b23{
margin-left:353px;
}

.pull-right{
padding-right: 8px;
margin-right: 20px;
margin-top:10px;

}
.icon-bar{
background:#d3d3d3;
}
.productcat .colorred{
    background-color: #e50000;
    border: 2px solid #d3d3d3;
     
    cursor:pointer;
    color:#ffffff;
}
 .productcat ul li{
  background:#f6f6f6;
}
 
.productcat ul{
   
  display:flex;
  flex-wrap:wrap;
  margin-left:33px;
  margin-top:22px;
   
   
}
.productcat ul li:hover{
  cursor:pointer;
  border:2px solid #d3d3d3;
  background:#c0392b;
  color:#ffffff;
   
}
span.productfeature.ng-binding {
    position: absolute;
    margin-left: -115px;
    margin-top: 17px;
	color:#333;
    text-align: left;
}
 

.row.row_feature {
    color: black;
    font-size: 12px;
    margin-left: -30px;
}

/************************************/
/**Shopping In**/
#shopping-in {
    padding: 20px;
}

#shopping-in img {
    max-width: 60%;
    max-height: 180px;
    display: block;
    margin: auto;
}

#shopping-in span {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    display: block;
    text-align: center;
    padding: 5px;
    width: 60%;
    border: 1px solid #e8e8e8;
    margin: auto;
}

/*************************************/
/**Search Store**/
#search-wrapper {
    box-shadow: 0 0 12px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.35);   background: rgba(220,10,10,0.91);
    padding: 50px 20px;
    padding-top: 30px;
}

#search-wrapper h3 {
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

#search-wrapper input {
    height: 40px;
    outline: none;
    border-radius: 0;
    color: #333;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
}

#search-wrapper ul {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-top: none;
    width: 100%;
}

#search-wrapper li {
    padding: 7px 12px;
    border-bottom: 1px solid #e8e8e8;
}

#search-wrapper li:hover {
    background: #f1f1f1;
}

#search-wrapper li a {
    text-decoration: none;
    color: #333;
}

.productcat ul li {
    border-radius: 2px;
    padding: 0;
    height: initial;
    padding: 5px;
    background: #fff;
    border: 1px solid #d5d5d5;
}

.productcat ul li:hover {
    background: rgba(220,10,10,0.91);
}

/*************************************/
/**Footer**/
footer {
    margin-top: 30px;
}

footer .row_11 {
    padding-top:10px;
	padding-bottom:10px;
    padding: 14px 0;
    background-color: #333;
    padding-bottom: 10px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3) inset;
}

footer .row_11 a {
    color: #999;
}

footer .row_11 a:hover {
    color: #f1f1f1;
}

footer .row_11 a:focus {
    text-decoration: none;
}


footer .row_13 {
    background: #333;
    padding: 10px;
}

footer .row_13 a {
    text-decoration: none;
    color: #fff;
}

footer .row_12 {
    padding: 12px;
    background: #222;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

footer .row_12 p {
    margin: 0;
}

footer .row_12 {
    background: #2a2a2a;
}

footer .row_12{
	background-color: #2a2a2a;
	color:#ffffff;
	font-size:15px;
	text-align: center;
	padding-top:10px;
}

footer .row_11{
	padding-top:10px;
	padding-bottom:10px;
/*	background:#ffffff;*/
    background-color: #333;
/*    border-bottom: 1px solid antiquewhite;*/
}
