.navbar-fixed-top{
    background-color:#ffffff;
}
.img-responsive{
  	 margin-top: -15px;
}
.text1{
  color:#ffffff;
  font-size:15px;
  font-weight:bold;
  font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;

}
#header {
  background: #fff;
  border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
  z-index: 99;
  &.--not-top {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
}
* {
  transition-duration: 0.2s;
}
.navbar-default{
  color:#c0392b;
}
#top-shadow {
position: fixed;
top: 0;
left: 20px;
width: 100%;
height: 60px;
z-index: 999;
-webkit-box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
-moz-box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
box-shadow: 0 8px 8px rgba(211, 211, 211, 0.8);
display: none;
}

.navbar.affix{  
top:0; 
width:100%;
}
.navbar{    
z-index:1000; 
}
.navbar-right{
  	color: #ff0000;
  	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  	font-weight:bold;
}
.navbar-bg{
   	color: #e50000;
  	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  	font-weight:bold;
  	font-size:2.5em;
}
.navbar-bg a{
  text-decoration:none;
  cursor:pointer;
}
.navbar-bg a:hover{
  color:#ff0000;
}
.pull-right{
	padding-right: 8px;
	margin-right: 10px;
	margin-top:10px;
}
.bg1{
	padding-top:70px;
	padding-bottom:80px;
     

}
.bg1 .shadow{
            content: "";
            background-color: rgba(0,0,0,0.4);
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            display: block;
} 
.bg1 {
    position: relative;
}
.bg1{
    background-image: url(become.jpg);
    background-color:rgba(0,0,0,0.7);
    background-size: 250% 200%;
}
@media(max-width:380px){
  .bg1{
    max-height:420px;
  }
}
.row_1{
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	font-size:30px;
	color:#ffffff;
	margin-top:20px;
	margin-bottom:20px;
 font-weight:bold;
}
@media(max-width:380px){
  .row_1{
    font-size:20px;
    font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    margin-top:-10px;
    text-align:justify;

    }
}
.row_2{
	
	color: #ffffff;
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	font-size:30px;
	margin-top:15px;
  font-weight:bold;
	 
	 
	 
}
@media(max-width:380px){
  .row_2{
  font-size:20px;
  font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  text-decoration:none;
  text-align:justify;
}
}
.row_3{
	
	color: #f1f1f1;
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	font-size:25px;
	margin-bottom:10px;
  
}
@media(max-width:380px){
  .row_3{
  font-size:20px;
  font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  text-decoration:none;
  text-align:justify;
}
}
.form-group{
	color: #ffffff;
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	font-size:20px;
	text-decoration:none;
	 
}
@media(max-width:380px){
 .form-group{
   font-size:15px;
   font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
   text-decoration:none;
   color:#000000;
    } 
}
.new{

	color: #ffffff;
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	font-size:30px;
	text-decoration:none;
}
@media(max-width:380px){
  .new{
  font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  font-size:25px;
  text-align:center;
  color:#000000;
}
}
.col-md-4{
	margin-top:20px;
}

.bg3{
	 
	width:100%;
}
@media(max-width:380px){
  .bg3{
  margin-top:700px;
}
}
.col-md-2{
	color:#000000;
	 
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	font-size:1em;
	cursor:hand;
}
.col-md-2 a{
	color: white;
    font-size: 15px;
}

.row_12{
	background-color: #000000;
	color:#ffffff;
	font-size:1em;
	 
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	text-align: center;
	padding-top:10px;
}
.row_11{
	padding-top:10px;
	padding-bottom:10px;
  background-color: #000000;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
  #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 .row_13{
 	background:#000000;
 }
.row_13 i{
    color: white;
}
@media(max-width:380px){
  .b1{
    margin-left:100px;
  }
}