<!DOCTYPE html>
<html>
<head>
<title>Halanx</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="icon" type="image/png" sizes="16x16" href="logo.png">
<link rel="stylesheet" href="registerotp.css">
<script src="forgotpassjs/angular.min.js"></script>
<script src="forgotpassjs/module.js"></script>
<script src="forgotpassjs/factory.js"></script>
<script src="forgotpassjs/controller.js"></script>

 
</head>

<body ng-app="myapp" ng-controller="myctrl">
    <!--Navbar Starts Here-->
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            
            <!-- add header -->
            <div class="navbar-header">

               
                <a class="navbar-brand navbar-bg" href="index.html">
                    <img src="https://s3-us-west-2.amazonaws.com/halanx-web/logo.png" class="img-responsive" width="50" height="50"><span id="brand-name">Halanx</span>
                </a>
            </div>
            
            <!-- menu items -->
<!--            <div  id="navbar1" style="margin-top:0px">-->
                <ul class="nav login_ctrl navbar-nav navbar-right">
                    <a href="halanx-final/new1big-kfc/frontpage/login.html" class="btn-md pull-right" id="login-btn">LOGIN</a>
                </ul>
<!--            </div>-->
            
        </div>
    </nav>
    <!--Navbar Ends-->

    
    <div class="container-fluid bg2">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 well">
                <form role="form"  method="post" name="signupform">
                    <fieldset>
                        <legend>Forgot Password?</legend>


                         
    
                        <div class="form-group">
                            <label for="name">Mobile Number</label>
                            <input type="text" name="mobilenumber" placeholder="Enter your Mobile Number"   class="form-control" id="mobilenumber" ng-model="mobilenumber"/>
                        </div>

                        <div class="form-group">
                            <label for="name">Enter OTP</label>
                            <input type="text" name="otp" placeholder="Enter the otp"   class="form-control" id="otp" ng-model="otp"/>
                        </div>
                        

                        <div class="form-group">
                            <input type="submit" value="Continue" id="submit"   ng-click="submitform()" class="btn btn-danger"/>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <!--Footer Starts Here-->
    <footer class="container-fluid bg3">
        <div class="row row_11">
            <div class="col-md-3"></div>
            <div class="col-md-1   text-center"><a href="../../../aboutus.html">About Us</a></div>
            <div class="col-md-1  text-center"><a href="#">Careers</a></div>
            <div class="col-md-1  text-center"><a href="#">Blog</a></div>
            <div class="col-md-1  text-center"><a href="../../../contactus.html">Contact Us</a></div>
            <div class="col-md-1  text-center"><a href="../../../privacy.html">Privacy</a></div>
            <div class="col-md-1  text-center"><a href="../../../terms.html">Terms</a></div>
            <div class="col-md-3"></div>
        </div>

        <div class="row row_13">
            <div class="text-center center-block">
                <a href="https://www.facebook.com/halanxtech"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i> .</a>
                <a href="https://www.twitter.com/halanxtech"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i> .</a>
                <a href="https://www.instagram.com/halanxtech"><i id="social-gp" class="fa fa-instagram fa-2x social"></i> .</a>
                <a href="https://in.linkedin.com/company/halanx"><i id="social-tw" class="fa fa-linkedin-square fa-2x social"></i></a>
            </div>
        </div>
        
        
        <div class="row row_12">
            <p>&copy; Halanx 2017</p>
        </div>
    </footer>
<!--Footer Ends-->
       
</body>
</html>
    