<!DOCTYPE html>
<html>
<head>
<title>Halanx</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="icon" type="image/png" sizes="16x16" href="logo.png">
<link rel="stylesheet" href="registerotp.css">
<script src="forgotpassjs2/angular.min.js"></script>
<script src="forgotpassjs2/module.js"></script>
<script src="forgotpassjs2/factory.js"></script>
<script src="forgotpassjs2/controller.js"></script>

 
</head>

<body ng-app="myapp" ng-controller="myctrl">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container-fluid">
             
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
                     
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html"><img src="https://s3-us-west-2.amazonaws.com/halanx-web/logo.png" class="img-responsive img-circle" width="50" height="50"> </a>
                <a class="navbar-brand navbar-bg" href="../../../index.html">Halanx</a>
            </div>
            
             
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="nav navbar-nav navbar-right">
                   <button class="btn btn-danger btn-md pull-right" onclick="window.location='https://www.halanx.com/halanx-final/new1big-kfc/frontpage/login.php'"> Login </button>
                    
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container-fluid bg2">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 well">
                <form role="form"  method="post" name="signupform">
                    <fieldset>
                        <legend>Forgot Password?</legend>


                         
    
                        <div class="form-group">
                            <label for="name">New Password</label>
                            <input type="text" name="newpassword" placeholder="New Password"   class="form-control" id="newpass" ng-model="newpass"/>
                        </div>

                        <div class="form-group">
                            <label for="name">Confirm Password</label>
                            <input type="text" name="cpass" placeholder="Confirm Password"   class="form-control" id="cpass" ng-model="cpass"/>
                        </div>
                        

                        <div class="form-group">
                            <input type="submit" value="Continue" id="submit"   ng-click="submitform()" class="btn btn-danger"/>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid bg92">
        <div class="row row_11">
          <div class="col-md-2   text-center"><a href="../../../aboutus.html">About Us</a></div>
          <div class="col-md-2  text-center"><a href="#">Careers</a></div>
          <div class="col-md-2  text-center"><a href="#">Blog</a></div>
          <div class="col-md-2  text-center"><a href="../../../contactus.html">Contact Us</a></div>
          <div class="col-md-2  text-center"><a href="../../../privacy.html">Privacy</a></div>
          <div class="col-md-2 text-center"><a href="../../../terms.html">Terms</a></div>
        </div>
       
    <div class="row row_13">
        <div class="text-center center-block">
            <a href="https://www.facebook.com/halanxtech"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
            <a href="https://www.twitter.com/halanxtech"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
            <a href="https://www.instagram.com/halanxtech"><i id="social-gp" class="fa fa-instagram fa-2x social"></i></a>
            <a href="https://in.linkedin.com/company/halanx"><i id="social-tw" class="fa fa-linkedin-square fa-2x social"></i></a>
         </div>
    </div>
       
        <div class="row row_12">
          <span class="glyphicon glyphicon-copyright-mark"> Halanx 2017 </span>
        </div>
       </div>
       
</body>
</html>
    