 
<!DOCTYPE html>
<html>
<head>
     <title>Halanx</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="icon" type="image/png" sizes="16x16" href="logo.png">
    <link rel="stylesheet" href="login1.css">
    <script src="loginjs/angular.min.js"></script>
    <script src="loginjs/module.js"></script>
     <script src="loginjs/factory.js"></script>
      <script src="loginjs/controller.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700" rel="stylesheet">
</head>
<body ng-app="myapp" ng-controller="myctrl">
<!--Navbar Starts Here-->
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            
            <!-- add header -->
            <div class="navbar-header">

               
                <a class="navbar-brand navbar-bg" href="../../../index.html">
                    <img src="https://s3-us-west-2.amazonaws.com/halanx-web/logo.png" class="img-responsive" width="50" height="50"><span id="brand-name">Halanx</span>
                </a>
            </div>
            
            <!-- menu items -->
<!--            <div  id="navbar1" style="margin-top:0px">-->
                <ul class="nav login_ctrl navbar-nav navbar-right">
                    <a href="halanx-final/new1big-kfc/frontpage/login.html" class="btn-md pull-right" id="login-btn">LOGIN</a>
                </ul>
<!--            </div>-->
            
        </div>
    </nav>
    <!--Navbar Ends-->

<div class="container-fluid bg1">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 well container">
            <form role="form"  method="post" name="loginform">
                <fieldset>
                    <legend>Login</legend>
                    
                    <div class="form-group">
                        <label for="name">Mobile Number</label>
                        <input type="text" name="mobilenumber" placeholder="Your Mobile Number" id="mobilenumber" required class="form-control" ng-model="mobilenumber"/>
                    </div>

                    <div class="form-group">
                        <label for="name">Password</label>
                        <input type="password" name="password" placeholder="Your Password" id="password" required class="form-control" ng-model="password"/>
                    </div>

                    <div class="form-group">
                        <center><input type="submit" name="login" ng-click="submitform()" value="Login" class="btn btn-danger" id="submit" /></center>
                    </div>
                </fieldset>
            </form>
             
        </div>
    </div>
    <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">    
        Don't have an Account? <a href="registerotp.html">Sign Up Here</a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            Forgot Password? <a href="forgotpass1.html">Click here</a>

        </div>
    </div>
</div>
    
 
 
  <!--Footer Starts Here-->
    <footer class="container-fluid bg3">
        <div class="row row_11">
            <div class="col-md-3"></div>
            <div class="col-md-1   text-center"><a href="../../../aboutus.html">About Us</a></div>
            <div class="col-md-1  text-center"><a href="#">Careers</a></div>
            <div class="col-md-1  text-center"><a href="#">Blog</a></div>
            <div class="col-md-1  text-center"><a href="../../../contactus.html">Contact Us</a></div>
            <div class="col-md-1  text-center"><a href="../../../privacy.html">Privacy</a></div>
            <div class="col-md-1  text-center"><a href="../../../terms.html">Terms</a></div>
            <div class="col-md-3"></div>
        </div>

        <div class="row row_13">
            <div class="text-center center-block">
                <a href="https://www.facebook.com/halanxtech"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i> .</a>
                <a href="https://www.twitter.com/halanxtech"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i> .</a>
                <a href="https://www.instagram.com/halanxtech"><i id="social-gp" class="fa fa-instagram fa-2x social"></i> .</a>
                <a href="https://in.linkedin.com/company/halanx"><i id="social-tw" class="fa fa-linkedin-square fa-2x social"></i></a>
            </div>
        </div>
        <!--Footer Ends-->
        
        <div class="row row_12">
            <p>&copy; Halanx 2017</p>
        </div>
    </footer>


 
 
 


</body>
<script>
var mobilenumber=document.getElementById("mobilenumber");
localStorage.setItem("mobilenumber",mobilenumber.value);
</script>
</html>