.navbar-fixed-top{
    background-color:#ffffff;
}
.img-responsive{
  	 margin-top: -10px;
}
 
.navbar-right{
  	color: #ff0000;
  	font-family:"Sans",Verdana,"sans-serif";
  	font-weight:bold;
}
.navbar-bg{
   	color: #e50000;
  	font-family: "Sans",Verdana,"sans-serif";
  	font-weight:bold;
  	font-size:2.5em;
}
.pull-right{
	padding-right: 9px;
	margin-right: 10px;
	margin-top:8px;
}
.legend{
  	margin-top: 2px;
  }
   
body{
  background-color: #e9e9e9;
}
.bg2{
	padding-top:150px;
	padding-bottom:50px;
}
.col-md-2 a:hover{
  text-decoration:none;
  color:#ff0000;
}
.col-md-2 a{
  color:#000000;
  cursor:pointer;
}
.bg92{
   width:100%;
   margin-top:100px;
}
.col-md-2{
  color:#000000;
   
  font-family:'Droid Sans', sans-serif;
  font-size:1.5em;
  cursor:hand;
}
.col-md-2 a{
  color: white;
    font-size: 15px;
}

.row_12{
  background-color: #000000;
  color:#ffffff;
  font-size:15px;
   
  font-family:'Droid Sans', sans-serif;
  text-align: center;
  padding-top:10px;
}

.row_11{
  padding-top:10px;
  padding-bottom:10px;
/*  background:#ffffff;*/
       background-color: #000000;
/*    border-bottom: 1px solid antiquewhite;*/
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
#social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 .row_13{
  background:#000000;
 }
.row_13 i{
    color: white;
}
.sr-only{
  background:#d6d6d6;
}
 